@import 'src/assets/styles/index';

.ReactSelect {
	@extend %react-select;

	&-group {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;
		border: none;
	}
	&-label {
		font-weight: 400;
		font-size: var(--fSize14);
		color: var(--black-60);
	}

	.ReactSelect-select__dropdown-indicator {
		display: flex;
		padding: 8px 24px 8px 8px;
	}
	.ReactSelect-select__indicator {
		svg {
			display: none;
		}
		&:after {
			font-family: 'icomoon' !important;
			content: '\e901';
			font-size: 20px;
			transition: var(--transition);
		}
	}
	.ReactSelect-select__placeholder {
		font-weight: 500;
		color: var(--black-100);
		font-size: var(--fSize14);
		line-height: 100%;
	}
	.ReactSelect-select__control {
		background: none;
		transition: none;
		cursor: pointer;
		&--menu-is-open {
			border-bottom: none;
			border-radius: 25px 25px 0 0;
			.ReactSelect-select__indicator:after {
				transform: rotate(-180deg);
			}
		}
	}
	.ReactSelect-select__menu {
		margin: 0;
		background: none;
		border-radius: 0;
		box-shadow: none;
		border-radius: 0 0 25px 25px;
		//animation: openMenuAnimation 0.2s forwards;
	}
	.ReactSelect-select__option {
		padding: 2px 8px 2px 24px;
		margin-bottom: 10px;
	}

	&.geo {
		.ReactSelect-select__value-container {
			position: relative;
			display: flex;
			align-items: center;
			padding: 2px 8px 2px 24px;

			&:before {
				font-family: 'icomoon' !important;
				content: '\e914';
				font-size: 17.5px;
				color: var(--primary);
				margin-right: 10px;
			}
		}
		.ReactSelect-select__control {
			height: 54px;
			border-color: var(--primary);
			background: var(--addition-grey);
		}
		.ReactSelect-select__menu {
			border: 1px solid var(--primary);
			border-top: none;
			background: var(--addition-grey);
		}
		.ReactSelect-select__option {
			&:hover {
				color: var(--primary);
			}
		}
		.ReactSelect-select__indicator:after {
			color: var(--primary);
		}
	}
	&.card.primary {
		.ReactSelect-select__value-container {
			&:before {
				color: var(--primary);
			}
		}
		.ReactSelect-select__indicator:after {
			color: var(--primary);
		}
		.ReactSelect-select__option {
			&:hover {
				color: var(--primary);
			}
		}
	}
	&.card.green {
		.ReactSelect-select__value-container {
			&:before {
				color: var(--system-aqua);
			}
		}
		.ReactSelect-select__indicator:after {
			color: var(--system-aqua);
		}
		.ReactSelect-select__option {
			&:hover {
				color: var(--system-aqua);
			}
		}
	}
	&.card.red {
		.ReactSelect-select__value-container {
			&:before {
				color: var(--elements-red-100);
			}
		}
		.ReactSelect-select__indicator:after {
			color: var(--elements-red-100);
		}
		.ReactSelect-select__option {
			&:hover {
				color: var(--elements-red-100);
			}
		}
	}
	&.card.calendar {
		.ReactSelect-select__value-container {
			&:before {
				content: '\e906';
			}
		}
	}
	&.card.earth {
		.ReactSelect-select__value-container {
			&:before {
				content: '\e914';
			}
		}
	}
	&.card.phone {
		.ReactSelect-select__value-container {
			&:before {
				content: '\e919';
			}
		}
	}
	&.card.primary {
		.ReactSelect-select__control,
		.ReactSelect-select__menu {
			background: var(--addition-purple);
		}
	}
	&.card {
		.ReactSelect-select__value-container {
			position: relative;
			display: flex;
			align-items: center;
			padding: 2px 8px 2px 24px;
			@media screen and (max-width: 480px) {
				padding: 2px 8px 2px 18px;
			}

			&:before {
				font-family: 'icomoon' !important;
				font-size: 20px;
				margin-right: 18px;
				@media screen and (max-width: 480px) {
					font-size: 16px;
					margin-right: 8px;
				}
			}
		}
		.ReactSelect-select__control {
			height: 54px;
			border-radius: 10px;
			border-color: transparent;
			background: var(--addition-grey);
			@media screen and (max-width: 480px) {
				font-size: var(--fSize14);
				height: 49px;
			}

			&--menu-is-open {
				border-radius: 10px 10px 0 0;
				.ReactSelect-select__indicator:after {
					transform: rotate(0deg);
				}
			}
		}
		.ReactSelect-select__menu {
			border: none;
			border-top: none;
			background: var(--addition-grey);
			border-radius: 0 0 10px 10px;
		}
		.ReactSelect-select__option {
			transition: var(--transition);
		}
		.ReactSelect-select__indicator:after {
			transform: rotate(-90deg);
		}
		.ReactSelect-select__dropdown-indicator {
			@media screen and (max-width: 480px) {
				padding: 8px 18px 8px 8px;
			}
		}
	}
	&.usual {
		.ReactSelect-select__value-container {
			padding: 2px 8px 2px 16px;
		}
		.ReactSelect-select__control {
			height: 50px;
			border-color: var(--black-20);
			background: var(--white);
			&--menu-is-open {
				border-color: var(--primary-20);
			}
		}
		.ReactSelect-select__menu {
			border: 1px solid var(--primary-20);
			border-top: none;
			background: var(--white);
		}
		.ReactSelect-select__option {
			border-top: 1px solid var(--addition-grey);
			padding: 14px 8px 2px 18px;
			&--is-focused {
				color: var(--primary);
				background: var(--primary-10);
			}
			&:hover {
				color: var(--primary);
			}
		}
		.ReactSelect-select__indicator:after {
			color: #68686d;
		}
	}
}

@keyframes openMenuAnimation {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
