@use 'src/assets/styles/placeholders/label';
@use 'src/assets/styles/placeholders/input';

.PasswordField {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	padding-bottom: 30px;
	&.error {
		padding-bottom: 0px;
		.input {
			border-color: var(--system-error);
		}

		.label {
			color: var(--system-error);
		}
	}

	&-label {
		@extend %label;
	}

	&-input {
		@extend %input;
		padding-right: 5.7rem;
	}

	&-control {
		position: relative;
	}

	&-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1.1em;
		line-height: 1;
		background: transparent;
		color: var(--gray-10);
		padding: 0.25em 0.5em;
		display: flex;
		align-items: center;

		&-text {
			font-weight: bold;
			margin-left: 0.5em;
		}

		&:active {
			transform: translateY(-50%) scale(1);
		}
	}

	&-error-message {
		color: var(--system-error);
		padding-top: 0.25rem;
		font-size: var(--fSize10);
		text-align: left;
	}

	&-note {
		margin-top: 0.25rem;
		font-size: var(--fSize10);
		color: var(--black-80);
	}
}
