.ErrorPageLayout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
	min-height: 100vh;
	&-main {
		align-self: flex-end;
		padding: 0 !important;
	}
	Footer {
		margin: 0;
	}
}
