.TarifsList {
	&-account {
		.TarifCard {
			padding: 24px;
		}
		.ReactSelect.geo .ReactSelect-select__control,
		.ReactSelect.geo .ReactSelect-select__menu {
			background: var(--white);
		}
		.TarifsList-select .ReactSelect-group {
			grid-column: 1;
		}
		.TarifsList-select {
			margin-bottom: 14px;
		}
		.TarifCard-content-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
			flex-wrap: wrap;
		}
		.TarifCard-stats li:not(:last-child) {
			margin-bottom: 8px;
		}
		.TarifCard-price span:first-child {
			font-size: 24px;
		}
		.TarifCard-price span:last-child {
			font-size: 32px;
		}
		.TarifCard-mark {
			display: none;
		}
		.TarifsList-cards {
			align-items: inherit;
			@media screen and (max-width: 1300px) {
				grid-template-columns: 1fr;
			}
			@media screen and (max-width: 1024px) {
				padding-bottom: 80px;
			}
		}
	}
	&-select {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		position: relative;
		z-index: 2;
		margin-bottom: 32px;
		@media screen and (max-width: 992px) {
			grid-template-columns: 1fr;
		}
		.ReactSelect-group {
			grid-column: 2 / 2;
			@media screen and (max-width: 992px) {
				grid-column: 1 / -1;
			}
		}
	}
	&-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: baseline;
		gap: 24px;
		position: relative;
		z-index: 1;
		@media screen and (max-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 992px) {
			grid-template-columns: 1fr;
		}
		.TarifCard,
		.TarifCard-content {
			height: 100%;
		}
	}
}
