.TarifsList {
	&-select {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		position: relative;
		z-index: 2;
		margin-bottom: 32px;
		@media screen and (max-width: 992px) {
			grid-template-columns: 1fr;
		}
		.ReactSelect-group {
			grid-column: 2 / 2;
			@media screen and (max-width: 992px) {
				grid-column: 1 / -1;
			}
		}
	}
	&-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: baseline;
		gap: 24px;
		position: relative;
		z-index: 1;
		@media screen and (max-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 992px) {
			grid-template-columns: 1fr;
		}
	}
}
