@use 'src/assets/styles/placeholders/label';
@use 'src/assets/styles/placeholders/input';
@use 'src/assets/styles/mixins' as *;

.InputField {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	&:not(:last-child) {
		margin-bottom: 1.71rem;
	}

	margin-bottom: 18px;
	&.error {
		margin-bottom: 6px;
		.label {
			color: var(--system-error);
		}
	}
	&-label {
		@extend %label;
	}

	&-input {
		@extend %input;
		@include placeholder-content {
			font-family: 'e-Ukraine', sans-serif;
			color: var(--black-60);
		}
		&:disabled {
			font-weight: 600;
			color: var(--primary-disabled);
			border: 1px solid var(--primary-disabled);
			background: transparent;
		}
	}

	&-error-message {
		color: var(--system-error);
		padding-top: 0.25rem;
		font-size: var(--fSize10);
		text-align: left;
	}
	&-note {
		margin-top: 0.25rem;
		font-size: 0.75em;
		color: var(--black-80);
	}
	&.error .InputField-input {
		border-color: var(--system-error);
	}

	//uses in Budget
	&.horizontalLabel {
		display: grid;
		grid-template-columns: 1fr 80px;

		& > .InputField-label,
		& > .InputField-input {
			font-size: var(--fSize13);
			font-family: var(--helvetica500);
			color: var(--black-10);
			text-transform: capitalize;
		}
	}

	&-RightPrefix {
	}

	& > .inputWrap {
		position: relative;

		.inputShadow {
			position: absolute;
			top: 50%;
			left: 0;
			font-size: var(--fSize14);
			line-height: var(--fSize14);
			color: var(--black-100);
			text-transform: capitalize;
			transform: translateY(-50%);
			z-index: 0;
			padding: 0.75rem 1.1rem;
		}

		.InputField-input {
			color: transparent !important;
			background-color: transparent !important;
			caret-color: var(--black-100);
			transition-duration: 0s !important;
			&.filled {
				padding-left: 30px;
			}
		}
	}
}
