@import 'src/assets/styles/index';

.AuthPopup {
	@extend %comingSoon;
	&-title {
		font-size: var(--fSize20);
		font-weight: 700;
		font-size: var(--fSize24);
		line-height: var(--fSize24);
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-bottom: 32px;
			font-size: var(--fSize18);
			line-height: var(--fSize18);
			font-weight: 500;
		}
	}
	&-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		button[type='submit'] {
			margin-top: 3.5rem;
			align-self: center;
		}
	}
	&-forgot-pass {
		color: var(--black-60);
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-decoration: underline;
		align-self: end;
	}
	.above-forgot-pass {
		margin-bottom: 8px;
	}
}
