@import '../../../assets/styles/mixins';

.Sidebar {
	width: 258px;
	flex: 0 0 258px;
	height: calc(100vh - 108px);
	background: var(--addition-grey);
	border-radius: 0 20px 20px 0;
	padding: 32px 0 40px 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@media screen and (max-width: 1024px) {
		flex: 0 0 100%;
		padding: 15px 15px 12px 15px;
		flex-direction: row;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		border-radius: 0;
		z-index: 2;
	}
	@media screen and (max-width: 385px) {
		padding: 15px 2px 12px 0;
	}
	&-nav {
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
		&-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			@media screen and (max-width: 1024px) {
				@include disable-scrollbar();
				display: flex;
				justify-content: space-between;
				overflow-x: auto;
			}
		}
		&-item {
			&:nth-child(1) {
				.Sidebar-nav-link.is-active .Sidebar-nav-icon {
					background: var(--primary);
				}
				.Sidebar-nav-icon {
					background: var(--primary-20);
				}
			}
			&:nth-child(2) {
				.Sidebar-nav-link.is-active .Sidebar-nav-icon {
					background: var(--elements-red-100);
				}
				.Sidebar-nav-icon {
					background: var(--addition-pink);
				}
			}
			&:nth-child(3) {
				.Sidebar-nav-link.is-active .Sidebar-nav-icon {
					background: #9ea4fe;
				}
				.Sidebar-nav-icon {
					background: var(--addition-blue);
				}
			}
			&:nth-child(4) {
				.Sidebar-nav-link.is-active .Sidebar-nav-icon {
					background: var(--elements-green-100);
				}
				.Sidebar-nav-icon {
					background: var(--elements-green-60);
				}
			}
		}
		&-link {
			padding: 0 12px;
			display: flex;
			align-items: center;
			height: 56px;
			border-radius: 10px 0 0 10px;
			&.is-active {
				@media screen and (min-width: 1024px) {
					background: var(--white);
				}
				.Sidebar-nav-icon {
					color: var(--white);
				}
			}
			@media screen and (max-width: 1024px) {
				padding: 0 7px;
				flex-direction: column;
			}
			@media screen and (max-width: 360px) {
				padding: 0 2px;
			}
			&:hover {
				color: var(--primary);
			}
		}
		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 8px;
			background: var(--primary-20);
			margin-right: 8px;
			color: var(--black-100);
			@media screen and (max-width: 1024px) {
				width: 32px;
				height: 32px;
				margin-right: 0px;
				border-radius: 4px;
				margin-bottom: 8px;
				i {
					font-size: 20px;
				}
			}
		}
		&-text {
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			@media screen and (max-width: 1024px) {
				text-align: center;
				font-size: 10px;
			}
		}
	}
	&-exit {
		margin-top: auto;
		display: flex;
		align-items: center;
		height: 40px;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			margin-top: 0;
		}
		span:first-child {
			width: 40px;
			margin-right: 8px;
			@media screen and (max-width: 1024px) {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 32px;
				margin-right: 0;
				margin-bottom: 8px;
				width: 32px;
				height: 32px;
			}
		}
		span {
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			@media screen and (max-width: 1024px) {
				font-size: 10px;
			}
		}
		&:hover {
			color: var(--primary);
		}
	}
}
