.CookieBannerWrapper {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	&-close {
		pointer-events: none;
		.CookieBanner {
			transform: translateY(200%);
		}
	}
}
.CookieBanner {
	position: relative;
	display: flex;
	align-items: center;
	margin: auto;
	background: var(--white);
	width: 100%;
	max-width: 1320px;
	filter: drop-shadow(0px 4px 20px rgba(95, 97, 100, 0.25));
	border-radius: 20px;
	padding: 32px;
	transition: var(--transition);

	& > * {
		position: relative;
		z-index: 2;
	}

	@media screen and (max-width: 1400px) {
		margin: 0 32px;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 16px 24px 24px 24px;
		margin: 0 24px;
	}

	img {
		margin-right: 32px;
		@media screen and (max-width: 768px) {
			max-width: 24px;
			margin-right: 0px;
			margin-bottom: 8px;
		}
	}
	p {
		font-size: 14px;
		line-height: 24px;
		margin-right: 46px;
		@media screen and (max-width: 768px) {
			text-align: center;
			font-size: 12px;
			line-height: 20px;
			margin-right: 0;
			margin-bottom: 24px;
		}
	}

	&-btns {
		display: flex;
		gap: 14px;
		@media screen and (max-width: 768px) {
			justify-content: center;
			gap: 14px;
		}

		button {
			min-width: 118px;
			@media screen and (max-width: 768px) {
				min-width: auto;
			}
		}
	}
}
