:root {
	--white: #ffffff;
	--white-10: #f0f0f0;

	--black: #141314;
	--black-0: #000000;
	--black-5: #f3f3f3;
	--black-10: #e7e7e8;
	--black-20: #d0d0d0;
	--black-40: #a1a1a1;
	--black-60: #727272;
	--black-80: #434243;
	--black-100: #1b1b1d;

	--primary: #651eee;
	--primary-20: #e0d2fc;
	--primary-40: #c1a5f8;
	--primary-60: #a378f5;
	--primary-80: #844bf1;
	--primary-disabled: #b2a2d2;
	--primary-hover: #4500cb;

	--addition-grey: #f3f4f8;
	--addition-pink: #f2e5f5;
	--addition-blue: #e1e3fe;
	--addition-purple: #f1e8fe;

	--elements-red-60: #fbc7d5;
	--elements-red-80: #f597b2;
	--elements-red-100: #ca6683;

	--elements-green-60: #cafffd;
	--elements-green-80: #97f4f1;
	--elements-green-100: #31bdb8;

	--system-green: #30ac63;
	--system-red: #cb6583;
	--system-aqua: #29c2bb;
	--system-error: #ea3c24;
	--system-yellow: #ffbb36;
}
