@font-face {
	font-family: 'e-Ukraine';
	src: local('e-Ukraine'), url('../fonts/e-Ukraine/e-Ukraine-Regular.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'e-Ukraine';
	src: local('e-Ukraine'), url('../fonts/e-Ukraine/e-Ukraine-Medium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'e-Ukraine';
	src: local('e-Ukraine'), url('../fonts/e-Ukraine/e-Ukraine-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
