@import 'src/assets/styles/index';

.AuthPopup {
	//@extend %comingSoon;
	&-title {
		max-width: 90%;
		font-size: var(--fSize20);
		font-weight: 700;
		font-size: var(--fSize24);
		line-height: var(--fSize24);
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-bottom: 32px;
			font-size: var(--fSize18);
			line-height: var(--fSize18);
			font-weight: 500;
		}
	}
	&-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		button[type='submit'] {
			margin-top: 3.5rem;
			align-self: center;
			@media screen and (max-width: 768px) {
				margin-top: 1.5rem;
			}
		}
	}
	&-forgot-pass {
		color: var(--black-60);
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-decoration: underline;
		align-self: end;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 1.5rem;
		}
	}
	&-subtitle {
		color: var(--black-80);
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	&-info {
		color: var(--primary);
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		display: block;
		margin-bottom: 32px;
	}
	.above-forgot-pass {
		margin-bottom: 8px;
	}
}
